body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/fondo.jpg") ;
}

a {
  color: #00B7FF;
}

.form{
  border: 5px;
  background-color: #989a9b;
  width: 650px;
  height: 400px;
  text-align: center;
  margin-left: 400px;
}

#bet3, #bet2, #bet1{
  margin-top: 2px;
}