{{!-- <script defer src="javascripts/sendData.js"></script> --}}
<div id="form" class="form">
<h2>GAMERS</h2>
<form action="/createGame" method="POST">
<p>Player 1</p>
<input type="text" placeholder="nombre" name="gamer" id="gamer1" required style="text-align: center;">
<p>Player 2</p>
<input type="text" placeholder="nombre" name="gamer" id="gamer2" required style="text-align: center;">
<p>Player 3</p>
<input type="text" placeholder="nombre" name="gamer" id="gamer3" required style="text-align: center;">
<br><br>
<button type="submit" id="button">Enviar Datos</button>
</form>
</div>